.form {
  min-width: 530px;
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #147dd9;
  padding: 20px;
  &__items {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
  }
  &__textarea {
    width: 100%;
    textarea {
      height: 120px;
      width: 100%;
      resize: none;
      border: 1px solid #fff;
      color: #fff;
      outline: none;
      background: #147dd9;
      padding: 7px;
      &::placeholder {
        color: #fff;
      }
    }
  }
}
